
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1.0, user-scalable=no">
		<title>HelpyHands</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Noto+Sans+SC:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
		<link rel="stylesheet" href="/stylesheets/home.css">	
		<style>
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
 	border-radius:0;
	background:rgb(23, 30, 48);;
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient( #FFFFFF, #6DD5FA, #2980B9); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6DD5FA; 
}
</style>
	</head>	
	<div id="loading"></div>
<body onload="preload()">	

	<ul class="slideshow">
		<li></li>
		<li></li>
	</ul>	
	
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm fixed-top ">
    <div class="container">
		<a href="#" class="navbar-brand brand mr-4">
			<img src="../images/logo.png" width="40" height="40" alt="" >
		</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navLinks">
            <ul class="navbar-nav">
			    <% if(!currentUser){ %>
				<li class="nav-item">
                	<a href="/reviews" class="nav-link mr-5 navback">Rate Us</a>
            	</li>
				<li class="nav-item">
                	<a href="/login" class="nav-link mr-5 navback">LogIn</a>
            	</li>
               	<li class="nav-item">
                	<a href="/register" class="nav-link navback">SignUp</a>
            	</li>
				<% } else { %>
				<li class="nav-item">
					<a  class="nav-link mr-5 navback" href="/reviews">Rate Us</a>
				</li>
                <li class="nav-item">
					<a  class="nav-link navback" href="/logout">Logout</a>
				</li>
				<% } %>
            </ul>
        </div>
	</div>
</nav>
	
	
	
<div class="jumbo jumbotron jumbotron-fluid mb-0">
	<div class="container text-center">
		<h1 id="jumbo1" class="display-4 mb-4 ">Helpy Hands</h1>
    	<h2 id="jumbo2" class="mb-3 ">YOU SELECT WE COLLECT</h2>
		<p id="jumbo3" class="lead "><i class="fas fa-map-marker-alt"></i> Now in Puttur</p>
  	</div>
</div>
	
	
<div class="container moveup">
	<h1 id="service" class="text-left mb-4 display-5">
		Services we provide:
	</h1>
    
	
	
<div class="swiper-container services">
	<div class="swiper-wrapper">
    	<div id="back" class="swiper-slide">
			<div id="service" class="">
        		<div class="shadow p-3 bg-white rounded bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
				<img class="rounded-circle card-img-top"  src="../images/food.png"  alt="...">
				</div>
        	<h2>Food Delivery</h2>
			</div>
      	</div>
		<div class="swiper-slide">
			<div id="service" class="">
        		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
					<img class="rounded-circle card-img-top"  src="../images/groceries.png"  alt="...">
		 		</div>
        		<h2>Groceries</h2>
    		</div>	
		</div>
		<div class="swiper-slide">
			<div id="service" class="">
        		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		    		<img class="rounded-circle card-img-top"  src="../images/veg.png"  alt="...">
		 		</div>
        		<h2>Fruits and Vegetables</h2>
     		</div>	
		</div>
		<div class="swiper-slide">
			<div class="">
        		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		   			<img class="rounded-circle card-img-top"  src="../images/fish.png"  alt="...">
		 		</div>
        		<h2>Fish and Meat</h2>
    	 	</div>	
		</div>
		<div class="swiper-slide">
			<div class="">
         		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		    		<img class="rounded-circle card-img-top"  src="../images/meds.png"  alt="...">
		 		</div>
        		<h2>Medicines</h2>
    	 	</div>	
		</div>
		<div class="swiper-slide">
			<div class="">
         		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		    		<img class="rounded-circle card-img-top"  src="../images/bill.png"  alt="...">
		 		</div>
        		<h2>Bill Payments</h2>
    	 	</div>	
		</div>
		<div class="swiper-slide">
			<div class="">
        		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		   			<img class="rounded-circle card-img-top"  src="../images/pick.png"  alt="...">
		 		</div>
        		<h2>Pick n Drop</h2>
    		</div>	
		</div>
		<div class="swiper-slide">
			<div class="">
        		<div class="shadow p-3 bg-white bd-placeholder-img rounded-circle mb-2" focusable="false" role="img" >
		   			<img class="rounded-circle card-img-top"  src="../images/bigDelivery.png"  alt="...">
		 		</div>
        		<h2>Big Deliveries</h2>		
     		</div>	
		</div>	
    </div>

</div>

	
		<h1 class="text-left mb-4 display-5 ml-4 ml-sm-0 whys">
			Why HelpyHands?
		</h1>
		<div class="row text-center justify-content-around mb-4">
			<div class="ml-1 ml-sm-0 mb-5 mb-sm-0 col-4 col-md-2 mb-sm-5 fuel">
				<img class="img-fluid" src="../images/fuel.png">
			</div>
			<div class="col-7 col-md-3 align-self-start fuel">
				<h3>
					Saves Fuel
				</h3>
				<p class="lead mb-4">
					Dont be cruel.. conserve your fuel..
				</p>
			</div>
			<div class="col-md-1">	
			</div>
			<div class="ml-1 ml-sm-0 mb-5 mb-sm-0 col-4 col-md-2 mb-sm-5 earth">
				<img class="img-fluid" src="../images/earth.png">
			</div>
			<div class="col-7 col-md-3 align-self-start earth">
				<h3>
					Saves Earth
				</h3>
				<p class="lead">
					Stay home and Stay safe
				</p>
			</div>
			<div class="ml-1 ml-sm-0 mb-5 mb-sm-0 col-4 col-md-2 mb-sm-5 money">
				<img class="img-fluid rounded-circle" src="../images/money1.jpg">
			</div>
			<div class="col-7 col-md-3 align-self-start money">
				<h3>
					Saves Money
				</h3>
				<p class="lead">
					Affordable delivery charges!!
				</p>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="ml-1 ml-sm-0 mb-5 mb-sm-0 col-4 col-md-2 mb-sm-5 time">
				<img class="img-fluid  rounded-circle" src="../images/time.jpg">
			</div>
			<div class="col-7 col-md-3 align-self-start time">
				<h3>
					Saves Time
				</h3>
				<p class="lead">
					Get things delivered in short amount of time
				</p>
			</div>	
	</div>	
</div>
	

	


<footer class="footer">
	<div class="container">
		<div class="back-to-top">
			<a href="#"><i class="fas fa-chevron-up"></i></a>
		</div>
		<div class="footer-content">
			<div class="footer-content-about animate-up">
				<h4>
					About HelpyHands
				</h4>

				<p class="lead">
					Get anything delivered at your doorstep, for minimal cost. Available in and around Puttur.
				</p>
			</div>
			<div class="footer-content-divider">
				<p class="contact lead pb-0 mb-1">
					<a href="tel:9148837191" style="color:white">Contact:  +91 91488 37191</a>
				</p>
				<div class="social-media">
					<p class="lead mr-1">
						follow along:
					</p>
					<p class="social-media">
						<a href="https://instagram.com/helpy__hands?igshid=kmmjmn7dtq0g"><i class="fab fa-facebook-square"></i></a>
						<a class="ml-1 mr-1 mr-sm-3" href="https://instagram.com/helpy__hands?igshid=kmmjmn7dtq0g">
						<i class="fab fa-instagram" aria-hidden="true"></i></a>
					</p>
				</div>
				
			</div>
		</div>
	</div>
</footer>	
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
	<script src="../stylesheets/main.js"></script>
		
<%- include("footer") %>