
html {
    scroll-behavior: smooth;
}

body {
    font-family: Gilroy, sans-serif;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: #171e10;
    background: #2980B9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



html, body {
    min-height: 100%;
}

#mainNavbar {
    background-color: rgb(23, 30, 48);
}

.jumbo {
    background: url(../images/jumbo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .jumbo h1 {
        font-weight: 520;
    }

.jumbo1 {
    opacity: 0;
    animation: fadeDown 0.5s forwards;
    animation-delay: 0.2s
}


#flash {
    display: inline;
    padding: 0;
    margin-top: 5px;
    z-index: 1;
}

.col-7 p {
    color: #0f4c75;
}

.col-4 h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

.footer #about {
    font-size: 1rem;
    font-weight: 100;
}


.slideshow {
    z-index: 0;
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}

    .slideshow li {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        opacity: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        animation: imageAnimation 20s linear infinite;
    }


        .slideshow li:nth-child(1) {
            background-image: url(../images/HelpyHand.jpg);
            animation-delay: 0s;
        }

        .slideshow li:nth-child(2) {
            background-image: url(../images/HelpyHandBlck.jpg);
            animation-delay: 10s;
        }



.footer {
    background-color: rgb(23, 30, 48);
    position: absolute;
    color: white;
}

    .footer p {
        padding: 0;
        margin: 0;
    }

@media(max-width:576px) {
    .col-4 h2 {
        font-size: 1rem;
        font-weight: 100;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@media(max-width:992px) {
    .lead {
        font-size: 1.1rem;
        font-weight: 100;
    }
}

/*Animation*/

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    25% {
        opacity: 0.035;
        animation-timing-function: ease-out;
    }

    50% {
        opacity: 0.035;
    }

    75% {
        opacity: 0
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
