
body {
    font-family: Noto Sans SC, sans-serif;
    background: #2980B9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Gilroy, sans-serif;
    color: #0f4c75;
    overflow-x: hidden;
}

.row {
    z-index: 1;
}


.loginbox h1 {
    font-size: 40px;
    font-weight: 100;
    border-bottom: 3px solid #0f4c75;
    padding-top: 13px;
    padding-bottom: 8px;
}

.textBox {
    border: none;
    border-bottom: 1px solid #0f4c75;
    outline: none;
    background: none;
    width: 80%;
}

.loginButton {
    width: 90%;
}





@media(max-width:576px) {

    .example::-webkit-scrollbar {
        display: none;
    }
}

.checked {
    color: orange;
}

.container .shadow {
    background-color: steelblue;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/HelpyHand.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.03;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
